# ðŸ§¨**Data Frame**

In [50]:
import pandas as pd

In [28]:
data = { 'Country':['Bd','USA','AUS','Canada','Italy'],
        'Year': [2000,2009,2010,2002,2022],
        'Points' : [1.0,6,10,8.3,'-']
        }
frame = pd.DataFrame(data)
frame

  Country  Year Points
0      Bd  2000    1.0
1     USA  2009      6
2     AUS  2010     10
3  Canada  2002    8.3
4   Italy  2022      -

In [29]:
frame.head(3)

  Country  Year Points
0      Bd  2000    1.0
1     USA  2009      6
2     AUS  2010     10

In [30]:
frame.tail(3)

  Country  Year Points
2     AUS  2010     10
3  Canada  2002    8.3
4   Italy  2022      -

In [31]:
frame.sample(2)

  Country  Year Points
0      Bd  2000    1.0
4   Italy  2022      -

In [73]:
pd.DataFrame(data,columns=['Year','Country','Points'])

   Year Country Points
0  2000      Bd    1.0
1  2009     USA      6
2  2010     AUS     10
3  2002  Canada    8.3
4  2022   Italy      -

In [74]:
Frame_2 = pd.DataFrame(data, columns=['Year','Country','Points','Avrg']) 
Frame_2

   Year Country Points Avrg
0  2000      Bd    1.0  NaN
1  2009     USA      6  NaN
2  2010     AUS     10  NaN
3  2002  Canada    8.3  NaN
4  2022   Italy      -  NaN

In [75]:
Frame_2['Country']

0        Bd
1       USA
2       AUS
3    Canada
4     Italy
Name: Country, dtype: object

In [76]:

Frame_2["Avrg"] = 20
Frame_2

   Year Country Points  Avrg
0  2000      Bd    1.0    20
1  2009     USA      6    20
2  2010     AUS     10    20
3  2002  Canada    8.3    20
4  2022   Italy      -    20

In [77]:
import numpy as np
Frame_2['Avrg'] = np.arange(5)
Frame_2

   Year Country Points  Avrg
0  2000      Bd    1.0     0
1  2009     USA      6     1
2  2010     AUS     10     2
3  2002  Canada    8.3     3
4  2022   Italy      -     4

In [78]:
del Frame_2['Country']
Frame_2

   Year Points  Avrg
0  2000    1.0     0
1  2009      6     1
2  2010     10     2
3  2002    8.3     3
4  2022      -     4

In [80]:
populations = {"BD": {2000: 1.5, 2011: 1.7, 2002: 3.6},
              "USA": {2001: 2.4, 2010: 2.9}}
populations

{'BD': {2000: 1.5, 2011: 1.7, 2002: 3.6}, 'USA': {2001: 2.4, 2010: 2.9}}

In [82]:
Frame_3 = pd.DataFrame(populations)
Frame_3

       BD  USA
2000  1.5  NaN
2011  1.7  NaN
2002  3.6  NaN
2001  NaN  2.4
2010  NaN  2.9

In [85]:
Frame_3.index.name = 'Year'
Frame_3.columns.name = 'Country'
Frame_3

Country   BD  USA
Year
2000     1.5  NaN
2011     1.7  NaN
2002     3.6  NaN
2001     NaN  2.4
2010     NaN  2.9