# ðŸ§¨**Essential Funtionality** 
--Reindexing

In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.Series([4,6,7,9],index=['a','b','c','d'])
data

a    4
b    6
c    7
d    9
dtype: int64

In [3]:
data_2 = data.reindex(['a','b','c','d','x'])
data_2

a    4.0
b    6.0
c    7.0
d    9.0
x    NaN
dtype: float64

In [4]:
data = pd.Series(['Black','Dog','Cat'],index=[1,2,3])
data

1    Black
2      Dog
3      Cat
dtype: object

In [5]:
data.reindex(np.arange(9),method='ffill')

0      NaN
1    Black
2      Dog
3      Cat
4      Cat
5      Cat
6      Cat
7      Cat
8      Cat
dtype: object

In [6]:
Frame = pd.DataFrame(np.arange(12).reshape((4,3)),index= ['a','b','c','d'],columns=['Bd','City','State'])
Frame

   Bd  City  State
a   0     1      2
b   3     4      5
c   6     7      8
d   9    10     11

In [7]:
Frame2 = Frame.reindex(index=['a','b','e','f'])
Frame2

    Bd  City  State
a  0.0   1.0    2.0
b  3.0   4.0    5.0
e  NaN   NaN    NaN
f  NaN   NaN    NaN

In [8]:
New = Frame2.drop(['e','f'])
New

    Bd  City  State
a  0.0   1.0    2.0
b  3.0   4.0    5.0

In [10]:
new = Frame2.drop(columns=['City'])
new

    Bd  State
a  0.0    2.0
b  3.0    5.0
e  NaN    NaN
f  NaN    NaN