# ðŸ§¨**Indexing**

In [2]:
import pandas as pd 
import numpy as np

In [5]:
data = pd.Series(np.arange(4),index = ['a','b','c','d'] )
index = data.index
index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [6]:
index[1:]

Index(['b', 'c', 'd'], dtype='object')

In [7]:
index[:]

Index(['a', 'b', 'c', 'd'], dtype='object')

In [10]:
population = {
    'BD' : {2000 : 11,2001 :19 , 2002: 18 },
    'usa' : {2000 : 13,2001 :12 }
}
Frame = pd.DataFrame(population)
Frame

      BD   usa
2000  11  13.0
2001  19  12.0
2002  18   NaN

In [12]:
'Bd' in Frame.columns

False

In [14]:
2000 in Frame.index

True